<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
<h2 class="text-center p-4">Categorías Disponibles</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Categoría</th>
      <th class="text-end">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias">
      <td>{{ categoria.name }}</td>
      <td class="text-end">
        <div class="btn-group" role="group">
          
          <button class="btn btn-info btn-sm me-2" (click)="editarCategoria(categoria)">
            <fa-icon [icon]="faPencil"></fa-icon>
          </button>

          
          <button
            class="btn btn-danger btn-sm"
            (click)="eliminarCategoria(categoria.id)"
            *ngIf="isAdmin"
          >
            <fa-icon [icon]="faMinus"></fa-icon>
          </button>
        </div>
      </td>
    </tr>
    <tr *ngIf="!categorias || categorias.length === 0">
      <td colspan="2" class="text-center">No hay categorías disponibles</td>
    </tr>
  </tbody>
</table>
<div class="row align-center p-4">
<button class="btn btn-primary mb-3" (click)="crearCategoria()" *ngIf="isAdmin">
  Añadir Categoría
</button>
</div>
</div>
    </div>
</div>